@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;&family=Roboto:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@1,400;1,500&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Roboto", sans-serif;
}


body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbfbfb;
}

.page{
  width: 60vw;              /* Ensure both pages have the same width */
  max-width: 900px;
  margin: 40px auto;        /* Centers element horizontally, with top margin */
  height: 90vh;             /* Same fixed height so all pages match */
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 1.4px 4.2px rgba(0, 0, 0, 0.2);
}

#landingPage {
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
  padding: 10px;
}

/*ensures landing page is hidden when we move to next page, overrides grid display*/
#landingPage.hidden {
  display: none;
}

.landingHeader{
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 97%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.pageHeader {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader h3{
    margin: 0;
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.pageSettings {
  background: none;
  border: none;
  cursor: pointer;
}

.pageHeader-user{
    gap: 10px;
    display: flex;
}

.landingHeader img{
    height: 30px;
    width: 30px;
}

/*grid part 2*/

.landing-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.btn {
  height: calc(100% - 40px); /*lways be 40 less than grid cell*/
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn1{
  background-color: #87CEEB;
}

#btn2{
  background-color: #A974C4;
}

.btn button {
  width: 90%;
  height: 100%; /* This makes it fill the .btn container */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;      /* Centers horizontally */
  justify-content: center;  /* Centers vertically */
  gap: 10px;
  border: none;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.btn img {
  aspect-ratio: 1/1;
}

.btn h3{
    color: white;
}

/*photo story page*/
#photoStory-page.hidden,
#textStory-page.hidden {
  display: none !important;
}

#photoStory-page{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50vw;
  max-width: 400px;
  margin: 40px auto; 
  height: 90vh;           
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

#photoStory-header{
  border-radius: 5px;
  height: 18%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.imageUploadArea{
  position: relative;
  flex-grow: 1;
  border: 1px dashed #888;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

#dropZone{
  text-align: center;
  font-size: 0.9em;
}

#dropZone button{
  padding: 6px 12px;
  cursor: pointer;
}

#uploadImage-btn{
  background: #ddd;
  border: none;
  outline: none;
  border-radius: 1px;
}

#uploadImage-btn:hover{
  background: #ccc;
}

#imagepreview{
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.imageControls{
  border-top: 1px solid #ccc;
  width: 50%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: space-between;
  
}

.imageControls button {
  background: yellow;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 0;
  color: #333;
  cursor: pointer;
}

.imageControls button:hover {
  background: khaki;
}

.share-btn1{
  background: #87a5f8;
  color: white;
  width: 130px;
}
.share-btn1:hover{
  background: #6e93f7;
}
.discard-btn1{
  width: 90px;
  background: white;
}
.discard-btn1:hover{
  background: #6e93f7;
  color: white;
}

/*text story page*/
.hidden {
  display: none;
}
#textStory-page img,
#landingPage img{
  height: 30px;
  width: 30px;
}

.editorContainer{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.leftPane{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  width: 220px;
  border: 1px solid #ccc;
  padding: 5px;
  background: none;
  border-radius: 4px;
  height: 520px;
}

.rightPane{
  flex-grow: 2;/*will be twice wider than the left pane*/
  min-width: 280px;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: none;
  border-radius: 8px;
  height: 480px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#livePreview{
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  height: 100%;
  min-height: 450px;
  width: 350px;
  color: white;
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;     /* Centers text vertically */
  text-align: center;
}

.editor {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  height: auto;
  max-height: 150px;
  background: #fff;
  overflow: hidden;
}

#editor {
  outline: none;
  min-height: 90px;
}

/*simulate a placeholder text*/
#editor:empty::before {
  content: attr(data-placeholder);
  color: #888;
  pointer-events: none;
  display: block;
  font-style: italic;
}

.fontStyle{
 width: 100%;
}
.fontStyle select{
  width: 100%;
  height: 100%;
  font-size: 16px;

}

/* 1. Clean (default) */
.style-clean {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* 2. Casual */
.style-casual {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: normal;
}

 /*3. Fancy */
.style-fancy {
  font-family: 'Edu VIC WA NT Hand Pre', cursive;
  font-style: italic;
  font-weight: 400;
}


/* 4. Headline */
.style-headline {
  font-family: 'Impact, sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.backgroundSection {
  margin-top: 10px;
  height: auto;
  max-height: 70px;
  border: 1px solid black;
  overflow-y: auto; 
}

.backgroundLabel {
  margin: 0;
  font-weight: bold;
  margin-bottom: 5px;
}

/* The color grid: Two visible rows, 18 columns per row */
.colorGrid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 30px);
  gap: 5px;
  /*max-height: calc(2 * 30px + 1 * 5px);*/
  height: auto;
  width: 100%; 
  overflow-x: hidden;
  
}

/* Each color button */
.colorBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 20px; 
  height: 20px;
}

.colorCircle {
  display: block;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

/* Scroll arrow container */
.scrollDown {
  text-align: center;
  margin-top: 5px;
}

/* Style of scroll button */
.scrollDown button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}


.textStory-btns, .photoStory-btns{
  display: flex;
  justify-content: space-between;
  margin: 0 5px 5px;
  height: 50px;
  
}

.textStory-btns button, .photoStory-btns button{
  font-size: 16px;
  cursor: pointer;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1),
              0 4px 6px rgba(0,0,0,0.05);
  height: 40px;
}

.share-btn{
  background: #87a5f8;
  color: white;
  width: 130px;
}
.share-btn:hover{
  background: #6e93f7;
}
.discard-btn{
  width: 90px;
  background: white;
}
.discard-btn:hover{
  background: #6e93f7;
  color: white;
}



/*discard modal popup*/
.modal{
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modalContent{
  background:#fff;
  padding: 10px;
  margin: 0;
  border-radius: 4px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.modalContent-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalContent-header h2{
  padding-left: 120px;
}

.cancel-btn{
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalContent-footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.modalContent p {
  font-size: 20px;
}

.modalContent-footer button{
  background:  #87a5f8;
  border: none;
  border-radius: 10px;
  box-shadow: 
  0 4px 8px rgba(0, 0, 0, 0.15),
    0 0 12px rgba(255, 255, 255, 1);
  font-size: 16px;
  color: #fff;
  height: 40px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}
.modalContent-footer button:hover{
  background: #6e93f7;
}

@media (max-width: 600px) {
    #landingPage {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}