* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo img {
    height: 40px;
    width: auto;
}

.profile img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}