body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/*Hero Section*/
.hero {
    background: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.hero h1 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    margin-top: 3px;
    font-weight: 700;
}

/*fade*/
.grid {
   display: grid;
   gap: 2rem;
   margin-top: 3rem;
   grid-template-columns: repeat(2, minmax(300px, 1fr)); 
}

.gridLink {
    height: 20rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.gridLink img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 0;
}

.gridLink h3 {
    margin: 4px;
    padding: 0;
}

.gridLink p {
    padding: 0 10px;
    margin: 0 auto;
    font-size: 0.9rem;
}

.gridLink a {
    text-decoration: none;
}

.gridLink a:hover {
    font-weight: bold;
}

/*support & compliance section*/
.supportCompliance {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding-top: 20px ;
    border-top: 1px solid #e9ecef;
}

.supportItem {
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #e9ecef;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.supportItem h3 {
    margin: 0;
}

.supportItem a {
    text-decoration: none;
}

.supportItem:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.supportItem p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 0;
    padding: 0;
    font-size: 1.3em;
}

.supportItem p span {
    font-size: 2rem;
}

.featureSection {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.featureSection h2 {
    color: black;
    opacity: 0.9;
    margin-top: 0;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #e9ecef;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featureSection h2 .material-symbols-outlined {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.featureSection.active h2 .material-symbols-outlined {
    transform: rotate(90deg);
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: auto;
    padding-bottom: 5px;
    background: #e9ecef;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.02);
    width: 100%;
    height: 70px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerTop {
    display: flex;
    color: #0000EE;
    align-items: center;
    gap: 10px;
}

.containerTop p {
    font-size: 0.9rem;
    margin: 0;
}

.containerBottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerBottom p {
    margin: 0;
    font-size: clamp(0.6rem, 2vw, 1rem);
}

footer img {
    height: 25px;
    width: 80px;
    object-fit: cover;
}

/*fade in effect*/
.fadeIn {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadeIn.visible {
    opacity: 1;
    transform: translateY(0);
}


/*create ad*/
.contentBlock {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/*contentblock styling combined with content styling above*/
.contentBlock .sectionTitle {
    font-size: 1.5em;
    display: inline-block;
    border-bottom: 3px solid #ffc107;
    margin-bottom: 5px;
}

/*admin center*/
.adminFeaturesGrid {
    display: grid;grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    text-align: left;
    margin-top: 30px;
}

.featureCard {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.featureCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.featureCard h4 {
    font-size: 1rem;
    color: #2c3e50;
    margin-top: 0;
    margin-bottom: 10px;
}

.featureCard ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
    color: #6c757d;
}

.featureCard ul li {
    margin-bottom: 5px;
}

/*designed4list*/
.designed4List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.designed4List li {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
    border-left: 4px solid #ffc107;
    transition: transhorm 0.2s ease;
}

.designed4List li:hover {
    transform: translateY(-3px);
}








/*create ad policy*/
.contentBlock h3 {
    border-left: 4px solid #ffc107;
    padding: 5px 20px;
    font-size: 1.5rem;
    margin-bottom: 0;
}

a.mailButton {
    display: inline-block;
    background-color: #ffc107;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease;
    margin-top: 5px; 
}